.node-masquerade-settings {
    input.small-input {
        max-width: 5em;
    }
}

.node-masquerade-add-button {
    --text-color: var(--color-green);
}

.node-masquerade-delete-button {
    --icon-color: var(--color-red);
}

.graph-modal-setting-properties {
    .properties-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: var(--size-4-2);
        column-gap: var(--size-4-6);
        padding-top: var(--size-4-4);
    }

    .property-value {
        display: flex;
    }

    .node-masquerade-add-button {
        margin-inline-start: var(--size-4-2);
    }
}